<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"> </script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.Jcrop.js') }}"> </script>
<script type="text/javascript">$(document).ready(function() {
    $('#champ1').hide(); // on cache le champ par défaut
    $('select[name="Auteur"]').change(function() { // lorsqu'on change de valeur dans la liste
    var valeur = $(this).val(); // valeur sélectionnée
        if(valeur != '') { // si non vide
            if(valeur == 'Autre') {
                $('#champ1').show();
            } else {
                $('#champ1').hide();
            }
        }
    });
});
</script>
<script type="text/javascript">
  jQuery(function($){

    var jcrop_api;

    $('#target').Jcrop({
      onChange:   showCoords,
      onSelect:   showCoords,
      onRelease:  clearCoords
    },function(){
      jcrop_api = this;
    });

    $('#coords').on('change','input',function(e){
      var x1 = $('#x1').val(),
          x2 = $('#x2').val(),
          y1 = $('#y1').val(),
          y2 = $('#y2').val();
      jcrop_api.setSelect([x1,y1,x2,y2]);
    });

  });

  // Simple event handler, called from onChange and onSelect
  // event handlers, as per the Jcrop invocation above
  function showCoords(c)
  {
    $('#x1').val(c.x);
    $('#y1').val(c.y);
    //$('#x2').val(c.x2);
    //$('#y2').val(c.y2);
    $('#w').val(c.w);
    $('#h').val(c.h);
  };

  function clearCoords()
  {
    $('#coords input').val('');
  };

</script>

{% extends 'bones.html' %}

{% block title %}Add annotation{% endblock %}

{% block main %}
      <!-- This is the image we're attaching Jcrop to -->
      <h1>Create your annotation</h1>
      <table class="tab1" cellspacing="15" >
        <tr>
            <td align="center">
                <img src="/{{ path }}" id="target" alt="{{ path }}" />
            </td>
        </tr>
        <tr>
            <td class="legendary">
                <h1> Legend </h1>
                {% set i = 1 %}
                {%for annotation in liste_annotations %}
                    <p style="color:rgb({{ annotation['color_r'] }},{{ annotation['color_g'] }},{{ annotation['color_b'] }})">
                        Annotation number {{ i }} : keywords :
                        {% for kw in annotation['keywords'] %}
                            {{ kw }}
                        {% endfor %}
                    </p>
                    {% set i = i+1 %}
                {% endfor %}
            </td>
        </tr>
      </table>
      <!-- This is the form that our event handler fills -->
      <div class="form_settings">
        <form class="coords" method="post">
            <p><label><span>Coordinate X1</span> <input type="text" size="4" id="x1" name="x1" /></label></p>
            <p><label><span>Coordinate Y1</span> <input type="text" size="4" id="y1" name="y1" /></label></p>
            <!-- <p><label><span>Coordonnée X2</span> <input type="text" size="4" id="x2" name="x2" /></label></p>
            <p><label><span>Coordonnée Y2</span> <input type="text" size="4" id="y2" name="y2" /></label></p> -->
            <p><label><span>Width</span> <input type="text" size="4" id="w" name="w" /></label></p>
            <p><label><span>Height</span> <input type="text" size="4" id="h" name="h" /></label></p>
            <p><label><span>Author</span></label></p>
                <select name="Auteur">
                    <option value="">-- Choose --</option>
                    <option value="Jornod">Jornod</option>
                    <option value="Sawmynaden">Sawmynaden</option>
                    <option value="Vaginay">Vaginay</option>
                    <option value="Gautreau">Gautreau</option>
                    <option value="Autre">Other</option>
                </select><br />
            <p style="padding-top: 15px"><span>&nbsp;</span><input type="text" id="champ1" name="champ1"/></p><br /><br />
            <p><label><span>Annotation Keywords</span></label> <textarea name="a_keywords" rows="3" cols="15"></textarea></p> <br/><br/> </p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input type="button" value="Add annotation" name="yes" onClick="form.submit();" /></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input type="button" value="Back" name="no"onClick="document.location.href = '{{ url_for('picture_profil', nom_img=nom_img) }}';" /></p>
            <br /><br /><br /><br />
        </form>
    </div>
{% endblock %}
