<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda One">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Port Lligat Slab">
        <link href="{{ url_for('static', filename='css/forme.css') }}" rel="stylesheet" type="text/css"/>
        <link href="{{ url_for('static', filename='css/jquery.Jcrop.css') }}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"> </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min2.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.nivo.slider.pack.js') }}"></script>
    </head>
    <body>
	    {# on affiche les messages d'erreur puis les messages de succes #}
	    {% for categorie in ['error', 'succes'] %}
	        {% with msgs = get_flashed_messages(category_filter=[categorie]) %}
	            {% if msgs %}
	            <ul class="flashed {{ categorie }}">
	                {% for m in msgs %}
	                    <li>{{ m|safe }}</li>
	                {% endfor %}
	            </ul>
	            {% endif %}
	        {% endwith %}
	    {% endfor %}

        <div id="main">
            <div id="header">
                <div id="menubar">
	        	    <div id="welcome">
	                    <h1><a href="{{ url_for('homepage') }}">MRI Teleradiology</a></h1>
	                </div><!--close welcome-->
                    <div id="menu_items">
	                    <ul id="menu">
                            <li><a href="{{ url_for('upload') }}">Picture upload</a></li>
                            <li><a href="{{ url_for('search') }}">Search</a></li>
                            <li><a href="{{ url_for('sources') }}"> Sources </a></li>
                       </ul>
                    </div><!--close menu_items-->
              </div><!--close menubar-->
	        </div><!--close header-->
	        <div class="content">
                {% block main %}{% endblock %}
            </div><!--close content-->
		</div><!--close main-->
     <br /> <br /> <br /> <br />
        <!-- Footer -->
        <footer> Copyright 2016 | <a href="mailto:lucie.dubrunfaut@gmail.com"> Contact Dubrunfaut </a> </footer>
    </body>
</html>
