{% extends 'bones.html' %}

{% block title %}Sources{% endblock %}

{% block main %}
    <div>
        <h1>Sources</h1>
    </div>
    <div class="content_container">
        <a href="http://www.fascicules.fr/image-medicale-metastases-cerebrales-contraste-en-cocarde-scanner-IRM-cerveau-158.html"> <p> Brain metastases MRI </p> </a>
    </div>
    <div class="content_container">
        <a href="http://www.fascicules.fr/image-medicale-irm-cerebrale-avc-accident-vasculaire-sylvien-superficiel-165.html"><p> Brain stroke MRI </p> </a>
    </div>
    <div class="content_container">
        <a href="http://www.fascicules.fr/image-medicale-neurologie-scanner-cerebral-atrophie-cortico-sous-corticale-11.html"> <p> Normal brain MRI </p> </a>
    </div>

{% endblock %}
