<!DOCTYPE html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" /></script>
<script type="text/javascript">$(document).ready(function() {
    $('#champ1').hide(); // on cache le champ par défaut
    $('select[name="Auteur"]').change(function() { // lorsqu'on change de valeur dans la liste
    var valeur = $(this).val(); // valeur sélectionnée
        if(valeur != '') { // si non vide
            if(valeur == 'Autre') {
                $('#champ1').show();
            } else {
                $('#champ1').hide();
            }
        }
    });
});
</script>

{% extends 'bones.html' %}

{% block title %}Picture Upload{% endblock %}

{% block main %}
    <div class="form_settings">
        <h1>Upload your picture</h1>
        <form method="post" enctype="multipart/form-data">
            <p><label><span>File</span></label> <input id="fic" type="file" name="fic" /></p> <br/><br/>
            <p><label><span>Author</span></label> <select name="Auteur">
                <option value="">-- Choose --</option>
                <option value="Anderson">Anderson</option>
                <option value="Michaud">Michaud</option>
                <option value="Zucco">Zucco</option>
                <option value="Lao">Lao</option>
                <option value="Autre">Other</option>
            </select></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input type="text" id="champ1" name="champ1"/></p><br /><br />
            <p><label><span>Keywords</span></label> <textarea name="keywords" rows="3" cols="15"></textarea></p> <br/><br/>
            <p><label><span>Examination ID</span></label> <input type="text" id="id_examen" name="id_examen"/></p><br /><br />
            <p style="padding-top: 15px"><span>&nbsp;</span><input id="btsub" type="submit" value="Upload" /></p>
        </form>
    </div><!--close form_settings-->
{% endblock %}
